@font-face {
    font-family: "lato";
    src: url({{ site.url }}/fonts/lato.eot);
    src: url({{ site.url }}/fonts/lato.eot?#iefix) format("embedded-opentype"),
    url({{ site.url }}/fonts/lato.woff) format("woff"),
    url({{ site.url }}/fonts/lato.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}
body {
    padding: 0;
    margin: 0;
    background-color: #12908d;
}
.header {
    background-color: #12908d;
    height: 50px;
    width: 100%;
    text-align: left;
    font-size: 20px;
}
.header ul {
    margin: 0 auto;
    width: 70%;
    padding-left: 0;
}
.header ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 40px 10px 0;
}
.header ul li a {
    text-decoration: none;
    color: black;
}
.banner {
    height: 200px;
    background-color: #335599;
}
.content {
    width: 70%;
    margin: 0 auto;
    background-color: #eee;
    font-family: "lato","Microsoft YaHei UI",sans-serif;
}
.content ul {
    padding-left: 0;
    margin: 0 0 50px 0;
}
.content ul li {
    list-style: none;
    border-top: 1px dashed #AB466A;
}
.content ul li a {
    text-decoration: none;
    color: black;
}
.footer {
    background-color: black;
    height: 120px;
    width: 100%;
    margin-top: 50px;
}
.footer p {
    color: #eee;
    font-size: 20px;
    padding-top: 20px;
    width: 70%;
    margin: 0 auto;
}
.footer ul {
    color: #eee;
    padding-left: 0;
    width: 70%;
    margin: 20px auto;
}
.footer ul li {
    display: inline-block;
    list-style: none;
}
.footer ul li a {
    text-decoration: none;
    color: #eee;
    font-size: 15px;
}
.markdown {
    font-size: 20px;
    line-height: 1.5em;
    color: #424242;
}
.markdown p {
    margin-bottom: 25px;
}
.markdown pre {
    background-color: black;
    color: #fff;
    margin: 0;
    width: 100%;
}
.markdown img {
    width: 100%;
}
.changelog {
    float: right;
}
img.emoji {
    margin: 0 !important;
    display: inline !important;
}

